.header button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffab00;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.header button:hover {
    background-color: #ff6f00;
}